body {

}

/** HEADER **/
#header-nav {
  background-color: gray;
  border: 2px solid black;
}

.navbar-brand {
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-brand h1 { /* Restaurant name */
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#collapsable-nav {
  width: 100%;
  padding: 0;
}

#nav-list {
  text-align: center;
  background-color: white;
  margin: 0;
}

#nav-list a {
  color: black;
  text-align: center;
  border: 2px solid black;
}

#nav-list a:hover {
  background: #E7E7E7;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/**Body**/
h2 {
  margin-bottom: 15px;
}

.text-head {
  font-weight: bold;
  font-size: 1.2em;
}

.text-col {
  background-color: gray;
  color: black;
  margin: 0 10px 0 10px;
}